.cv-columna-negativo{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 0px;
}
.cv-columna-negativo > h1{
    position: relative;
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
    font-family: 'Barlow-Bold';
    font-size: 28px;
    color: #0033A0 !important;
    font-weight: normal;
    line-height: normal;
    text-align: center;
}
.cv-columna-negativo > h1::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 2px;
    border-radius: 2px;
    background-color: #00AEC7;
    top: 100%;
    left: 50%;
    left: calc(50% - 27.5px);
    left: -moz-calc(50% - 27.5px);
}

.cv-columna-negativo > h2{
    padding: 0px;
    margin: 0px;
    margin-top: 15px;
    font-family: 'Barlow-Medium';
    font-size: 18px;
    color: #53565A;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}

.cv-columna-negativo-row{
    position: relative;
    width: 900px;
    max-width: 100%;
    height: auto;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.cv-columna-negativo-col{
    position: relative;
    width: 40%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border-radius: 12px;
}

.cv-columna-negativo-img{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    display: block;
    background-color: rgba(0,0,0,0.5);
    
    box-sizing: border-box;
    border: rgba(0,0,0,0) solid 1px;

    transition: transform 0.2s, -webkit-transform 0.2s, o-transform 0.2s, background-color 0.2s;
    -webkit-transition: transform 0.2s, -webkit-transform 0.2s, o-transform 0.2s, background-color 0.2s;
}
.cv-columna-negativo-img img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    mix-blend-mode: multiply;
}

.cv-columna-negativo-col:hover{
    cursor: default;
}
.cv-columna-negativo-col:hover .cv-columna-negativo-img{
    background-color: rgba(0,0,0,0.75);
    transform: scale(1.1) rotate(-2deg);
    -webkit-transform: scale(1.1) rotate(-2deg);
    -o-transform: scale(1.1) rotate(-2deg);
}

.cv-columna-negativo-col:hover .cv-columna-negativo-bolita{
    animation-name: animacion-bolita-cv;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    -webkit-animation-name: animacion-bolita-cv;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}
@keyframes animacion-bolita-cv{
    0%{
        top: 0px;
        transform: scale(1,1);
        -webkit-transform: scale(1,1);
        -o-transform: scale(1,1);
    }
    30%{
        top: -10px;
        transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
        -o-transform: scale(1.2,1.2);
    }
    55%{
        top: 0px;
        transform: scale(1,1);
        -webkit-transform: scale(1,1);
        -o-transform: scale(1,1);
    }
    85%{
        top: -5px;
        transform: scale(1.1,1.1);
        -webkit-transform: scale(1.1,1.1);
        -o-transform: scale(1.1,1.1);
    }
    100%{
        top: 0px;
        transform: scale(1,1);
        -webkit-transform: scale(1,1);
        -o-transform: scale(1,1);
    }

}

.cv-columna-negativo-text,
.cv-columna-negativo-num{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    
    box-sizing: border-box;
    padding: 0px 20px;
}
.cv-columna-negativo-text{
    align-items: flex-start;
    justify-content: center;
}
.cv-columna-negativo-num{
    align-items: center;
    justify-content: space-around;
}

.cv-columna-negativo-bolita{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 25px 25px 0px 25px;
    background-color: #E3E829;
    box-sizing: border-box;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;

    font-family: 'FSJoey-Bold';
    font-size: 24px;
    color: #0033A0;
    font-weight: normal;
    line-height: normal;
    text-align: center;

    transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
}

.cv-columna-negativo-text > h3,
.cv-columna-negativo-num > h3{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'FSJoey-Bold';
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 15px;
}
.cv-columna-negativo-text > p,
.cv-columna-negativo-num > p{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'FSJoey-Regular';
    font-size:18px;
    color: #FFFFFF;
    text-align: center;
    font-weight: normal;
    line-height: normal;
}