.cv-columna-t1,.cv-columna-t3{
    position: relative;
    width: 1200px;
    max-width: 100%;
    margin: 0px auto;
    padding: 50px 0px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.cv-columna-t1 .row1,
.cv-columna-t3 .row1{
    position: relative;
    width: 450px;
    height: auto;
}
.cv-columna-t1 .row1{
    margin-right: 20px;
}
.cv-columna-t3 .row1{
    margin-left: 20px;
}

.cv-columna-t1 .row1 img,
.cv-columna-t3 .row1 img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 5px 5px 10px -4px rgba(0,0,0,0.5);
}

.cv-columna-t1 .row2{
    position: relative;
    width: 500px;
    margin-left: 20px;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: space-between;
}
.cv-columna-t1 .row3,
.cv-columna-t3 .row3{
    position: relative;
    width: 500px;
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
}
.cv-columna-t1 .row3{
    margin-left: 20px;
}
.cv-columna-t3 .row3{
    margin-right: 20px;
}

.cv-columna-t1 .row2 ul,
.cv-columna-t1 .row3 ul,
.cv-columna-t3 .row3 ul{
    margin: 0px;
    padding: 0px;
    display: block;
}

.cv-columna-t1 .row2 li,
.cv-columna-t1 .row3 li,
.cv-columna-t3 .row3 li{
    margin: 0px;
    padding: 0px;
    display: block;

    font-family: 'Barlow-Regular';
    font-size: 16px;
    color: #53565A;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 5px;

    box-sizing: border-box;
    padding-left: 20px;
    background-image: url(../images/check-circle-regular.svg);
    background-size: 15px 15px;
    background-position: 0px center;
    background-repeat: no-repeat;
}
.cv-columna-t3 .row3 li{
    text-align: right;
}

.cv-columna-t1 .row2 > h3,
.cv-columna-t1 .row3 > h3,
.cv-columna-t3 .row3 > h3{
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    line-height: normal;

    position: relative;
    font-family: 'Barlow-Bold';
    font-size: 24px;
    color: #0033A0;
    padding-bottom: 10px;
}
.cv-columna-t3 .row3 h3{
    text-align: right;
}
.cv-columna-t1 .row2 > h3::after,
.cv-columna-t1 .row3 > h3::after,
.cv-columna-t3 .row3 > h3::after{
    content: "";
    position: absolute;
    width: 55px;
    
    top: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #00AEC7;
}
.cv-columna-t1 .row2 > h3::after,
.cv-columna-t1 .row3 > h3::after{
    left: 0px;
}
.cv-columna-t3 .row3 > h3::after{
    right: 0px;
}

.cv-columna-t1 .row2 > p,
.cv-columna-t1 .row3 > p,
.cv-columna-t3 .row3 > p{
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    line-height: normal;

    font-family: 'Barlow-Regular';
    font-size: 16px;
    color: #53565A;
}
.cv-columna-t3 .row3 > p{
    text-align: right;
}

.cv-boton-grande{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding: 0px 20px;
    background-color: #0033A0;
    border-radius: 35px;

    font-family: 'FSJoey-Regular';
    font-size: 22px;
    color: #FFFFFF !important;
    text-align: center;
    font-weight: normal;
    line-height: 28px;
    text-decoration: none !important;
    cursor: default;
}
.cv-columna-t1-button{
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.cv-columna-t1 .cv-columna-t1-button{
    text-align: left;
}
.cv-columna-t3 .cv-columna-t1-button{
    text-align: right;
}
.cv-columna-t1-button a{
    display: inline-block;
    padding: 5px 15px;
    border-radius: 12px;
    background-color: #E3E829;
    margin: 0px;
    box-sizing: border-box;

    font-family: 'Barlow-Medium';
    font-weight: normal;
    font-size: 18px;
    color: #0033A0;
    text-align: center;
    line-height: normal;
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    text-decoration: none;

    transition: box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s;
}
.cv-columna-t1-button a:hover{
    text-decoration: underline;
    box-shadow: 0px 6px 5px -3px rgba(0,0,0,0.5);
}

.cv-columna-t1-mensaje{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 10px;
    background-color: #ECF0F1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    /*box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.2);*/
    border-radius: 4px;
}
.cv-columna-t1-mensaje-icon{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #0033A0 solid 2px;
    box-sizing: border-box;

    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    background-image: url(../images/phone-icon.svg);
}

.cv-columna-t1-mensaje-text{
    position: relative;
    width: 100%;
    width: calc(100% - 55px);
    width: -moz-calc(100% - 55px);
    margin: 0px;
    margin-left: 15px;
    display: block;
}

.cv-columna-t1-mensaje-text p{
    display: block;
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
    width: 100%;

    font-family: 'Barlow-Regular';
    font-size: 16px;
    color: #0033A0;
    font-weight: normal;
    line-height: normal;
    text-align: left;
}
.cv-columna-t1-mensaje-text p span{
    font-family: 'Barlow-Bold';
}

/**********responsive**********/
@media (min-width: 1200px){/*1200 en adelante*/

}

@media (min-width: 960px) and (max-width: 1199px){
    .cv-columna-t1 .row1,
    .cv-columna-t3 .row1{
        width: 430px;
    }
    .cv-columna-t1 .row1{
        margin-right: 15px;
    }
    .cv-columna-t3 .row1{
        margin-left: 15px;
    }
    
    .cv-columna-t1 .row2{
        width: 480px;
        margin-left: 15px;
    }
    
    .cv-columna-t1 .row3,
    .cv-columna-t3 .row3{
        width: 480px;
    }
    .cv-columna-t1 .row3{
        margin-left: 15px;
    }
    .cv-columna-t3 .row3{
        margin-right: 15px;
    }
}

@media (min-width: 768px) and (max-width: 959px){
    .cv-columna-t1, .cv-columna-t3{
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
    }

    .cv-columna-t1 .row1,
    .cv-columna-t3 .row1{
        width: auto;
        width: calc(100% - (480px + 10px + 10px));
        width: -moz-calc(100% - (480px + 10px + 10px));
    }
    .cv-columna-t1 .row1,
    .cv-columna-t3 .row1{
        margin-right: 10px;
    }

    .cv-columna-t1 .row1 img,
    .cv-columna-t3 .row1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .cv-columna-t1 .row2{
        position: relative;
        width: 480px;
        margin-left: 10px;
    }

    .cv-columna-t1 .row3,
    .cv-columna-t3 .row3{
        width: 480px;
    }
    .cv-columna-t1 .row3{
        margin-left: 10px;
    }
    .cv-columna-t3 .row3{
        margin-right: 10px;
    }

    .cv-columna-t1 .row2 > p{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .cv-columna-t1 .row2 > h3,
    .cv-columna-t1 .row3 > h3,
    .cv-columna-t3 .row3 > h3{
        font-size: 21px;
    }

    .cv-boton-grande{
        height: 60px;
        padding: 0px 20px;
        border-radius: 30px;
        font-size: 20px;
        line-height: 24px;
    }
}

@media (max-width: 767px){
    .cv-columna-t1,.cv-columna-t3{
        width: 100%;
        padding: 50px 20px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .cv-columna-t1 .row1,
    .cv-columna-t3 .row1{
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    
    .cv-columna-t1 .row1 img,
    .cv-columna-t3 .row1 img{
        width: 100%;
        height: auto;
    }

    .cv-columna-t1 .row2{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .cv-columna-t1 .row3,
    .cv-columna-t3 .row3{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .cv-columna-t1 .row2 > p,
    .cv-columna-t1 .row3 > p,
    .cv-columna-t3 .row3 > p{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    
    }

    .cv-columna-t1 .row2 > h3,
    .cv-columna-t1 .row3 > h3,
    .cv-columna-t3 .row3 > h3{
        font-size: 20px;
        text-align: center;
    }

    .cv-columna-t1 .row2 > h3::after,
    .cv-columna-t1 .row3 > h3::after,
    .cv-columna-t3 .row3 > h3::after{
        left: 50%;
        left: calc(50% - 22.5px);
        left: -moz-calc(50% - 22.5px);
        right: initial;
    }
    
    .cv-boton-grande{
        width: 400px;
        margin: 0px auto;
        height: 60px;
        padding: 0px 20px;
        border-radius: 30px;
        font-size: 18px;
        line-height: 20px;
    }
}

@media (max-width: 519px){
    .cv-columna-t1 .row1,
    .cv-columna-t3 .row1{
        width: 350px;
        max-width: 100%;
    }
    
    .cv-columna-t1 .row2 > h3,
    .cv-columna-t1 .row3 > h3,
    .cv-columna-t3 .row3 > h3{
        font-size: 18px;
    }
    
    .cv-boton-grande{
        width: 400px;
        max-width: 100%;
        height: auto;
        padding: 10px 20px;
        font-size: 18px;
        line-height: normal !important;
    }
}