.cv-columna-t2{
    position: relative;
    width: 1000px;
    max-width: 100%;
    padding: 0px;
    margin: 0px auto;
    margin-top: 70px;
    margin-bottom: 70px;
}

.cv-columna-t2 .row1,
.cv-columna-t2 .row4{
    position: absolute;
    width: 400px;
    height: 100%;
    height: calc(100% + 50px);
    height: -moz-calc(100% + 50px);
    top: -25px;
    margin: 0px;
    padding: 0px;
}
.cv-columna-t2 .row1{
    left: 20px;
}
.cv-columna-t2 .row4{
    right: 20px;
}
.cv-columna-t2 .row1 img,
.cv-columna-t2 .row4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
    box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.5);
}

/*******************/

.cv-columna-t2 .row2,
.cv-columna-t2 .row3,
.cv-columna-t2 .row5,
.cv-columna-t2 .row6{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    border-radius: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius: 4px;
    overflow: hidden;
}
.cv-columna-t2 .row2,
.cv-columna-t2 .row3{
    background-color: #F7F7F7;
}
.cv-columna-t2 .row5,
.cv-columna-t2 .row6{
    background-color: #0033A0;
}
/*contenido a la derecha*/
.cv-columna-t2 .row2,
.cv-columna-t2 .row5{
    padding: 40px 40px 40px 20px;
    justify-content: flex-end;
}
/*contenido a la izquierda*/
.cv-columna-t2 .row3,
.cv-columna-t2 .row6{
    padding: 40px 20px 40px 40px;
    justify-content: flex-start;
}

.cv-columna-t2 .row2-content,
.cv-columna-t2 .row3-content,
.cv-columna-t2 .row5-content,
.cv-columna-t2 .row6-content{
    position: relative;
    width: 100%;
    width: calc(100% - 450px);
    width: -moz-calc(100% - 450px);
    height: auto;
    display: block;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.cv-columna-t2 .row2-content,
.cv-columna-t2 .row5-content{
    padding-right: 50px;
}
.cv-columna-t2 .row3-content,
.cv-columna-t2 .row6-content{
    padding-left: 50px;
}

.cv-columna-t2 .row2-content h3,
.cv-columna-t2 .row3-content h3,
.cv-columna-t2 .row5-content h3,
.cv-columna-t2 .row6-content h3{
    display: block;
    margin: 0px;
    padding: 0px;
    font-family: 'Barlow-Bold';
    font-size: 28px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 20px;
}
.cv-columna-t2 .row2-content h3,
.cv-columna-t2 .row3-content h3{
    color: #0033A0;
}
.cv-columna-t2 .row5-content h3,
.cv-columna-t2 .row6-content h3{
    color: #FFFFFF;
}
.row-content-ul-row{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}
.row-content-ul-row1{
    position: relative;
    width: 100%;
    height: auto;
}
.row-content-ul-col{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 48%;
    height: auto;
    display: block;
}
.row-content-ul-col1{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
    display: block;
}

.cv-columna-t2 .row2-content ul,
.cv-columna-t2 .row3-content ul,
.cv-columna-t2 .row5-content ul,
.cv-columna-t2 .row6-content ul{
    display: block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.cv-columna-t2 .row2-content li,
.cv-columna-t2 .row3-content li,
.cv-columna-t2 .row5-content li,
.cv-columna-t2 .row6-content li{
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    padding-left: 20px;

    background-position: 0px center;
    background-repeat: no-repeat;
    background-size: 15px 15px;

    font-family: 'Barlow-Regular';
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 5px;
}
.cv-columna-t2 .row2-content li,
.cv-columna-t2 .row3-content li{
    color: #707070;
}
.cv-columna-t2 .row5-content li,
.cv-columna-t2 .row6-content li{
    color: #FFFFFF;
}

.cv-columna-t2 .row2-content li,
.cv-columna-t2 .row3-content li{
    /*background-image: url(../images/check-circle-regular.svg);*/
    background-image: url(/images/canales-de-ventas.v2/check-circle-regular.svg);
}
.cv-columna-t2 .row5-content li,
.cv-columna-t2 .row6-content li{
    /*background-image: url(../images/check-circle-regular-white.svg);*/
    background-image: url(/images/canales-de-ventas.v2/check-circle-regular-white.svg);
}

.cv-columna-t2 .row2-content p,
.cv-columna-t2 .row3-content p,
.cv-columna-t2 .row5-content p,
.cv-columna-t2 .row6-content p{
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Barlow-Regular';
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
}
.cv-columna-t2 .row2-content p,
.cv-columna-t2 .row3-content p{
    color: #707070;
}
.cv-columna-t2 .row5-content p,
.cv-columna-t2 .row6-content p{
    color: #FFFFFF;
}

.cv-columna-t2 .row2-content p span,
.cv-columna-t2 .row3-content p span,
.cv-columna-t2 .row5-content p span,
.cv-columna-t2 .row6-content p span{
    font-family: 'Barlow-Bold';
}

.cv-columna-t2 .row2-content h4,
.cv-columna-t2 .row3-content h4,
.cv-columna-t2 .row5-content h4,
.cv-columna-t2 .row6-content h4{
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Barlow-Bold';
    font-size: 18px;
    font-weight: normal;
    line-height: normal;
}

.cv-columna-t2 .row2-content h4,
.cv-columna-t2 .row3-content h4{
    color: #0033A0;
}
.cv-columna-t2 .row5-content h4,
.cv-columna-t2 .row6-content h4{
    color: #FFFFFF;
}