.cv-large-card-container{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    padding: 40px 0px;
}

.cv-large-card{
    position: relative;
    width: 900px;
    max-width: 100%;
    margin: 0px auto;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 20px #ecf0f1;
    box-sizing: border-box;
    padding: 35px;
    overflow: hidden;
    border: 1px solid #ecf0f1;
}

.cv-large-card::before{
    content: "";
    width: 300px;
    height: 300px;
    background-color: #009CB5;
    top: 50%;
    top: calc(50% - 150px);
    top: -moz-calc(50% - 150px);
    left: 100%;
    left: calc(100% - 200px);
    left: -moz-calc(100% - 200px);
    position: absolute;
    border-radius: 50%;
}

.cv-large-card-content-box{
    position: relative;
    width: 100%;
    width: calc(100% - 200px);
    width: -moz-calc(100% - 200px);
    height: auto;
    margin: 0px;
    padding: 0px;
}

.cv-large-card-content-box > div{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
    box-sizing: border-box;
}
.cv-large-card-content-box > div::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #0033A0;
    top: 0px;
    left: 0px;
    padding: 0px;
}

.cv-large-card-content-box > div p{
    display: block;
    margin: 0px;
    font-family: 'Barlow-Regular';
    font-size: 16px;
    color: #53565A;
    text-align: left;
    font-weight: normal;
    line-height: normal;
}
.cv-large-card-content-box > div p span{
    font-family: 'Barlow-Bold';
}
.cv-large-card-content-box > div p a{
    color: #0033A0;
    font-family: 'Barlow-Medium';
    text-decoration: underline !important;
    font-size: inherit;
}

.cv-large-card-icon{
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    top: calc(50% - 50px);
    top: -moz-calc(50% - 50px);
    right: 50px;

    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

@media (min-width: 1200px){/*1200 en adelante*/

}

@media (min-width: 960px) and (max-width: 1199px){

}

@media (min-width: 768px) and (max-width: 959px){
    .cv-large-card{
        width: 100%;
        width: calc(100% - 30px);
        width: -moz-calc(100% - 30px);
        
        padding: 25px;
    }
}

@media (max-width: 767px){
    .cv-large-card{
        width: 100%;
        width: calc(100% - 20px);
        width: -moz-calc(100% - 20px);
        
        padding: 20px;
    }

    .cv-large-card::before{
        width: 200px;
        left: 100%;
        left: calc(100% - 150px);
        left: -moz-calc(100% - 150px);
    }

    .cv-large-card-content-box{
        width: 100%;
        width: calc(100% - 150px);
        width: -moz-calc(100% - 150px);
    }

    .cv-large-card-icon{
        width: 70px;
        height: 70px;
        top: 50%;
        top: calc(50% - 35px);
        top: -moz-calc(50% - 35px);
        right: 40px;
    
        background-size: 100%;
    }
}

@media (max-width: 519px){
    .cv-large-card::before{
        display: none;
    }
    .cv-large-card-content-box{
        width: 100%;
    }
    .cv-large-card-icon{
        display: none;
    }
    .cv-large-card-content-box > div p{
        font-size: 15px;
    }
}
